html, body {
    font-family: 'Poppins', sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  ::selection {
    background: #7a6ad8;
    color: #fff;
  }
  body{
    background-color: #7a6ad8;
  }