


  .main-banner .item-1 {
    /* background-image: url(../images/home1.jpg); */
    margin-top: 200px;
    margin-bottom:330px
  }
  
  .main-banner .item-2 {
    /* background-image: url(../images/home2.jpg); */
    margin-top: 20px;
    margin-bottom:330px
  }
  
  .main-banner .item-3 {
    /* background-image: url(../images/home3.jpg); */
    margin-top: 20px;
    margin-bottom:330px
  }
  .main-banner .item {
  
    border-radius: 25px;
    padding: 100px 100px;
    margin-left: 130px;
  }
  .main-banner .item span.category {
    background-color: #7a6ad8;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    padding: 5px 15px;
    border-radius: 20px;
    /* display: inline-block; */
    margin-bottom: 50px;
  }




  .main-banner .item h2 {
    font-size: 48px;
    font-weight: 500;
    color: #fff;
    line-height: 70px;
    width: 60%;
    margin-bottom: 40px;
  }




