
body {
    background-color: #7a6ad8;
  }


  /* .main-banner {
    background-image: url(../images/banner-bg.jpg);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 170px 0px 120px 0px;
 
  } */
  .main-banner .item-1 {
    background-image: url(../images/banner-item-01.jpg);
    margin-top: 200px;
    margin-bottom:330px
  }
  
  .main-banner .item-2 {
    background-image: url(../images/banner-item-02.jpg);
    margin-top: 20px;
    margin-bottom:330px
  }
  
  .main-banner .item-3 {
    background-image: url(../images/banner-item-03.jpg);
    margin-top: 20px;
    margin-bottom:330px
  }
  .main-banner .item {
  
    border-radius: 25px;
    padding: 100px 100px;
    margin-left: 130px;
  }
  .main-banner .item span.category {
    background-color: #7a6ad8;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    padding: 5px 15px;
    border-radius: 20px;
    /* display: inline-block; */
    margin-bottom: 50px;
  }




  .main-banner .item h2 {
    font-size: 48px;
    font-weight: 500;
    color: #fff;
    line-height: 70px;
    width: 60%;
    margin-bottom: 40px;
  }





  
 
  
  /* .main-banner .item .buttons {
    display: flex;
    margin-top: 20px;
  } */

  
  /* .main-banner .item .buttons .main-button {
    margin-right: 30px;
    display: flex;
  } */



  
  .main-banner .item .buttons .main-button a {
    font-size: 14px;
    color: #7a6ad8;
    background-color: #fff;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    padding: 0px 25px;
    border-radius: 25px;
    font-weight: 500;
  }
  
  .main-banner .item .buttons .icon-button i {
    color: #7a6ad8;
    background-color: #fff;
    display: inline-block;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    font-size: 16px;
  }
  
  .main-banner .item .buttons .icon-button a {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
  }
  
  /* .main-banner .owl-nav {
    position: absolute;
    max-width: 1320px;
    bottom: 23px;
    left: 0;
    text-align: right;
  }
  
  .main-banner .owl-nav .owl-prev i,
  .main-banner .owl-nav .owl-next i {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    display: inline-block;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    opacity: 1;
    transition: all .3s;
  }
  
  .main-banner .owl-nav .owl-prev i {
    position: absolute;
    bottom: 65px;
  }
  
  .main-banner .owl-nav .owl-prev i:hover,
  .main-banner .owl-nav .owl-next i:hover {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.5);
  } */